UserInterfaceState.xcuserstate
Example/HandyScanner/HandyScanner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Example/HandyScanner/HandyScanner.xcodeproj/project.xcworkspace/xcuserdata/wangyd.xcuserdatad/WorkspaceSettings.xcsettings
